@media screen and (max-width:576px) {
    .nav-container{
        display: flex;
        flex-direction: column;
       

    }
    .nav-icon{
        width: 50%;
        display: flex;
        flex-direction: column;
     
margin-top: 20px;
      
      
       font-size: 25px;
     gap: 20px;
        
    }
    .bannar-container{
      
       display: flex;
       flex-direction: column;
      
    }
    .bannar-logo{
        height: 80%;
        width: 50%;
       
        margin-top: 150px;
        margin-left: -80px;
       
     }
     .bannar-logo img{
         height: 80%;
        
    
     }
     .bannar-container{
        display: flex;
       flex-direction: column;
       align-items: center;
      } 
      .online-game-container{
        margin-top: 300px;
         text-align: center;
         padding-left: 50px;
         background-color: #FFF;
      }
      .boxes{
       
      
        display: flex;
        flex-direction: column;
        padding-bottom: 750px;
         }
         .play-instantly{
   
           
            display: flex;
         flex-wrap: wrap;
         align-items: center;
          padding-bottom: 700px;
          margin-left: 80px;
         }
         .multi-container-1{
            
           
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            
         
          
        }
        .multi-container-2{
         
            display:flex;
            flex-wrap: wrap;
            align-items: center;
           gap: 20px;
            
           }
           .social-icon{
            display: flex;
            flex-wrap: wrap;
           
        }
        .play-instantly-text{
            width: 50%;
            padding-left: 50px;
        }
        
    }

    



     
    