
.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: #FFF;
   box-shadow:0px 4px 30px 0px rgba(0, 0, 0, 0.05);
   ;
}
.logo-container{
    width: 50%;
    
    margin-left: 10%;
}
.nav-logo{
    display: flex;
    align-items: center;
    


}
.nav-logo img{
    width: 40px;
    height: 25px;
}
.span-primary{
    color:  #FF42A5;
    
}
.nav-gamer{
    padding-left: 20px;
}
.nav-icon{
    width: 50%;
    display: flex;
   margin-left: 40px;
  justify-content: space-evenly;
   margin-right: 10%;
   align-items: center;
    
}
.nav-icon a{
    text-decoration: none;
}
#nav-follow{
    border: none;
    padding:10px 30px  ;
    border-radius: 8px;
    background-color:rgba(11, 2, 35, 0.10); ;
    color: #3C354F;
    display: flex;
    align-items: certer;
    gap: 5px;
}
.follow-img{
    height: 15px;

}

/*bannar part*/
.bannar-container{
    display: flex;
   height: 400px;
    
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
}

.bannar-text{
   
    height: 300px;
   
    margin-top: 0PX;
    
}
.bannar-logo{
    width: 50%;
    height: 400px;
   
}
.bannar-logo img{
    height: 500px;
    width: 100%;
}

.first-text{
    color: #0B0223;

font-family: Work Sans;
font-size: 38px;
font-style: normal;
font-weight: 600;

}
.second-text{
   

font-size: 65px;
margin-top: -40px;
font-style: normal;
font-weight: 600;

}
.other-text{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 15px;
font-style: normal;
font-weight: 500;

}

.btn-primary{
    border: none;
    background-color: #FF42A5;border-radius: 48px;
    color: #FFF;
    padding: 21px 40px;
    margin-right: 20px;
}
.btn-primary-2{
    border: none;
    background-color:#4EC5F7 ;
    padding: 21px 40px;
    border-radius: 48px;
    color: #FFF;
}
/*online gaming swction*/
.online-game-container{
   margin-top: 200px;
    
    background-color: #FFF;

}
.online-games-hading{
    text-align: center;
 
    color: #0B0223;

    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
}
.funny-videos{
    color: #FF42A5;
}
.online-games-description{
    color:#534C64 ;
    text-align: center;
    margin-top: -30px;
    background-color: #FFF;
    padding: 30px;
}

.boxes{
    width: 80%;
    height: 260px;
  
    display: flex;
    gap: 1.33%;
    margin: auto;
}
.box1{
    height: 200px;
    width: 19%;
   
}
.box-img{
    width: 200px;
    height: 200px;
}

/*play instantly part*/
.play{
    background-color:#FFF ;
}
.play-instantly{
   
   width: 80%;
   height: 300px;
 
   display: flex;
   margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  gap: 150px;
}
.img-1{
    width: 320px ;
    height: 350px;
}
.img-2{
    height: 200px;
   
    margin-top: -200px;
    margin-left: -90px;
}
.play-instantly-img{
  width: 50%;
  margin-right: -50px;
  
    
}
.play-instantly-text{
    width: 50%;
}
/*gaming type section*/

.game-type-container{
    width: 100%;
    margin-top: 100px;
    background-color: #FFF;
}
.multi-container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
  
}
.photo-1{
    height: 50px;
    font-weight: 50px;
}
.game-type{
    font-size: 12px;
}
.single-container-1{
   
    display: flex;
    align-items: center;
    gap: 10px;
}
.single-container-2{
   
    display: flex;
    align-items: center;
    gap: 10px;
}
.single-container-3{
    
    display: flex;
    align-items: center;
    gap: 10px;
}
.single-container-4{
   
    display: flex;
    align-items: center;
    gap: 10px;
}
.single-container-5{
   
    display: flex;
    align-items: center;
    gap: 10px;
}
.single-container-6{
   
    display: flex;
    align-items: center;
    gap: 10px;
}
.single-container-7{
    
    display: flex;
    align-items: center;
    gap: 10px;
}
.single-container-8{
   
    display: flex;
    align-items: center;
    gap: 10px;
}
.single-container-9{
    
    display: flex;
    align-items: center;
    gap: 10px;
}
/*footer*/
.footer-part{
    background-color: #0B0223;
    margin-top: 50px;
}
.footer-gamer{
    color: #FFF;
}
#icon{
    height: 20px;
    font-weight: 10px;
}
.footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.footer-option{
    text-align: center;
    color: #FFF;
    padding: -50;
    font-size: 12px;
}
.footer-span{
    padding: 20px;
}
.end-span{
    padding-left: 20px;
}
.footer-icons{
    height: 100px;
 
}